# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# package
*.class
*.jar
*.war
*.ear

# ide
.classpath
.settings/
.project
.DS_Store

# logs
*.log
